cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.7
Flask==1.1.2
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
nltk==3.6.1
numpy==1.20.2
pandas==1.2.3
pdfminer==20191125
pdfminer.six==20201018
pycparser==2.20
pycryptodome==3.10.1
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
sklearn==0.0
sortedcontainers==2.3.0
threadpoolctl==2.1.0
tqdm==4.60.0
Werkzeug==1.0.1
